li{
    display: inline-flex;
    padding: 9px;
    color: rgb(248, 246, 247);
    font-size: x-large;
    cursor:default;
    justify-content: space-around;
    align-items: center;

}
.navi-back{
    background-color:rgb(39, 33, 35);
    padding: 8px;
}
li:hover{
    color: red;
}